*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          background-color: whitesmoke;
          font-family: 'Courier New', Courier, monospace;
          outline: none;
}
.container{
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;

}
.calculator{
          background-color: aliceblue;
          padding: 15px;
          border-radius: 30px;
          box-shadow:inset 5px 5px 12px white ,
                           5px 5px 12px rgb(64, 79, 73) ;

          display: grid;
          grid-template-columns:repeat(4 ,68px);
}

input{
          grid-column: span 4;
          height: 70px;
          width: 260px;
          background-color: aliceblue;
          box-shadow:inset 5px 5px 12px white ,
                           5px 5px 12px rgb(64, 79, 73);
          
          border: none;
          border-radius: 30px;
          color: rgb(125, 32, 200);
          font-size: 50px;
          text-align:end ;
          margin: auto;
          margin-bottom: 30px;
          padding: 20px;
}
button{
          height: 48px;
          width: 48px;
          background-color: aliceblue;
          box-shadow:inset 5px 5px 12px white ,
                           5px 5px 12px rgb(64, 79, 73) ;
          border: none;
          border-radius: 50px;
          margin: 8px;
          margin: 8px;
          font-size: 15px;
}
.equal{
          width: 115px;
}